<div class="navbar text-center">
    <a routerLink="home" class="navbar-link" routerLinkActive="active-link">
        <img class="icon navbar-img" alt="home" src="/assets/img/home.svg">
    </a>
    <a routerLink="stats" class="navbar-link" routerLinkActive="active-link">
        <img class="icon navbar-img" alt="stats" src="/assets/img/location.svg">
    </a>
    <a routerLink="profile" class="navbar-link" routerLinkActive="active-link">
        <img class="icon navbar-img" alt="home" src="/assets/img/user.svg">
    </a>
</div>