@import 'variables';

.header {
    display: grid;
    grid-template-columns: 85% 1fr 1fr;
    background-color: $primary-color;
    align-items: center;
    padding: 10px 45px;

    .user-img,
    .notification-img {
      width: 30px;
      height: 30px;
    }
  }