@import 'variables';

:host {
  max-height: 70vh;
  overflow: auto;
  display: block;
}

.header-cell {
  color: $head-text-color;
  font-size: 0.9rem;
  padding: 7px;
  text-align: left;
}


::ng-deep tr:nth-child(2n),
::ng-deep thead>tr:nth-child(2n+1) {
  background-color: $primary-color;
}

::ng-deep td {
  color: $secondary-text-color;
  padding: 7px;
  text-align: left;
  font-weight: bold;
}