<h4>Credit Card</h4>

<div class="current-credit-card-block"
>
  <div class="mb-5">
    <app-payment-select *ngIf="!isAddCardSectionShown; else cardSection"></app-payment-select>
    <ng-template #cardSection>
      <app-card-section (submitted)="hideCardBlockSection()"></app-card-section>
    </ng-template>
  </div>
  <app-button [success]="true" (click)="showCardBlockSection()" *ngIf="!isAddCardSectionShown"
    >Add New Card</app-button
  >
  <app-button (click)="hideCardBlockSection()" *ngIf="isAddCardSectionShown">Cancel</app-button>
</div>