<h4>Credit Card</h4>

<div class="current-credit-card-block">
  <div class="mb-5">
    <app-payment-select *ngIf="!isAddCardSectionShown"></app-payment-select>
    <app-card-section
      *ngIf="isAddCardSectionShown"
      (submitAddCard)="hideCardBlockSection()"
    ></app-card-section>
  </div>
  <app-button [success]="true" (click)="showCardBlockSection()" *ngIf="!isAddCardSectionShown"
    >Add New Card</app-button
  >
  <app-button (click)="hideCardBlockSection()" *ngIf="isAddCardSectionShown">Cancel</app-button>
</div>