<app-auth-card title="Sign in to continue">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <app-input label="Email" id="email" formControlName="email" [error]="loginForm?.get('email')?.errors">
        </app-input>
        <app-input label="Password" id="password" type="password" formControlName="password"
            [error]="loginForm?.get('password')?.errors"></app-input>
        <app-button [success]="true" [isDisabled]="loginForm.invalid" type="submit">Sign In</app-button>
    </form>
    <p class="text-center">Are you new User? <a routerLink="/auth/register">Sign Up</a></p>
</app-auth-card>