@import 'variables';

.record-wrap {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;

  p {
    color: $secondary-text-color;
    font-weight: bold;
  }

  .record-img {
    width: 30px;
    height: 30px;
  }
}

.data-record {

  p {
    color: $secondary-text-color;
    font-weight: bold;
  }

  h4 {
    color: $text-color;
  }
}