@import 'animations';

.loading {
    position: fixed;

    z-index: 10;

    display: grid;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    height: 100vh;
    width: 100%;

    .appearance {
        animation: appearance 1s;
    }
}