@import 'variables';
@import 'mixins';

.home {
  position: relative;

  h4 {
    color: $text-color;
  }

  .home-cards {
    position: absolute;
    z-index: 100;
    top: 45px;
    left: 50px;
    min-width: 360px;
  }

  .order-taxi-map {
    @include shadow(0.12);

    height: 85vh;
    width: 100%;
    position: absolute;
    border-radius: 25px;
  }

}
