<div class="home">
  <div class="home-cards">
    <app-order-taxi-form *ngIf="!tripService?.taxi?.position && !tripService.isSearching">
    </app-order-taxi-form>
    <app-driver-info *ngIf="tripService?.taxi?.position"></app-driver-info>
    <app-taxi-searching-screen *ngIf="tripService.isSearching"></app-taxi-searching-screen>
  </div>
  <div class="order-taxi-map">
    <app-map
      [startAddress]="tripService.pickupAddress"
      [endAddress]="tripService.arrivalAddress"
      [taxiPoint]="tripService?.taxi?.position || null"
    ></app-map>
  </div>
</div>
