
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$boston-taxi-primary: mat.define-palette(mat.$indigo-palette);
$boston-taxi-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$boston-taxi-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$boston-taxi-theme: mat.define-light-theme((
  color: (
    primary: $boston-taxi-primary,
    accent: $boston-taxi-accent,
    warn: $boston-taxi-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($boston-taxi-theme);

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'variables';
@import 'animations';
@import "node_modules/angular-notifier/styles";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: $text-color;
  background-color: $primary-color;
}

a {
  color: $success-color;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #666;
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.text-center {
  text-align: center;
}

.list {
  margin: 0.5rem 0;

  li {
    padding-bottom: 0.3rem;
  }
}

.icon {
  filter: invert(99%) sepia(26%) saturate(4783%) hue-rotate(185deg) brightness(124%) contrast(69%);
}

.active-icon {
  filter: invert(90%) sepia(39%) saturate(1791%) hue-rotate(314deg) brightness(101%) contrast(98%);
}

table {
  width: 100%;
}

div::-webkit-scrollbar,
app-table::-webkit-scrollbar {
  width: 6px;
}

div::-webkit-scrollbar-track,
app-table::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb,
app-table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(183, 183, 183);
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.validation {
  color: red;
  word-wrap: break-word;
}

.alert {
  width: 100%;
  padding: 0.7rem;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
  animation: appearance 0.8s;
}

.alert-danger {
  background: $danger-color;
  color: #fff;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
