$primary-color: #f7f7f7;
$secondary-color: #fbfbfb;

$button-disabled-color: #efefef;
$button-primary-color: #d3d3d3;
$success-color: #fdbf5a;

$gray: #cfcfcf;

$text-color: #737373;
$secondary-text-color: #bebebe;
$head-text-color: #d9d9d9;

$danger-color: #ef5350;