<app-card>
  <h3>Will come to you:</h3>
  <app-delimiter></app-delimiter>
  <app-data-record
    [title]="trip.taxiDriver?.name || 'Unknown person'"
    [text]="trip.taxiDriver?.phone || 'Not specified'"
    img="/assets/img/person.svg"
  ></app-data-record>
  <app-delimiter></app-delimiter>
  <app-data-record
    [title]="tripService.getVehicleInfoByTaxiDriver(trip.taxiDriver!) || 'Unknown Brand'"
    [text]="trip.taxiDriver?.vehicle?.plateNumber || 'Unknown Number'"
    img="/assets/img/car.svg"
  ></app-data-record>
  <app-delimiter></app-delimiter>
  <div class="additional-info-section">
    <div class="connection-section">
      <a [href]="'tel: ' + trip.taxiDriver?.phone" *ngIf="trip.taxiDriver?.phone">
        <app-icon-button img="/assets/img/phone.svg"></app-icon-button>
      </a>
      <app-icon-button img="/assets/img/chat.svg"></app-icon-button>
    </div>
    <div class="time-info">
      <div class="text-center">
        <img src="/assets/img/time.svg" class="icon" />
      </div>
      <p class="time">7 min</p>
    </div>
  </div>
</app-card>
