<h4 class="mb-2">Will come to you</h4>
<div class="account-info">
  <div class="text-center">
    <img src="/assets/img/user.png" />
  </div>
  <app-data-record
    *ngIf="tripService.taxi.taxiDriver"
    [title]="tripService.taxi.taxiDriver.name"
    [text]="tripService.taxi.taxiDriver.phone"
  ></app-data-record>
</div>
<div class="car-info">
  <div class="text-center">
    <img class="active-icon" src="/assets/img/car.svg" />
  </div>
  <app-data-record
    [title]="taxiDriver.vehicle?.brand + ' ' + taxiDriver.vehicle?.model"
    [text]="taxiDriver.vehicle?.plateNumber || ''"
  ></app-data-record>
</div>
<div class="time-info">
  <div class="text-center">
    <img src="/assets/img/time.svg" class="icon" />
  </div>
  <p>7 min</p>
</div>
