<div class="home">
    <div class="home-cards">
        <app-card>
            <h4 class="mb-5">Where We go?</h4>
            <div class="mb-3">
                <app-address-input placeholder="Pickup Address" iconUrl="/assets/img/home.svg"
                    (onChangeAddress)="setPickupAddress($event)" [value]="pickupAddress?.label || ''">
                </app-address-input>
            </div>
            <app-address-input placeholder="Arrival Address" iconUrl="/assets/img/arrival.svg"
                (onChangeAddress)="setArrivalAddress($event)"></app-address-input>
        </app-card>
        <app-card>
            <h4 class="mb-2">Type Of Payment</h4>
            <app-payment-select (onChangePaymentWay)="changePaymentWay($event)"></app-payment-select>
        </app-card>
        <app-card *ngIf="pickupAddress && arrivalAddress">
            <h4 class="mb-2">Will come to you</h4>
            <app-driver-info (onSetCarrierInfo)="setCarrierInfo($event)"></app-driver-info>
        </app-card>
    </div>
    <div>
        <app-map></app-map>
    </div>
</div>